body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f54b;
  }
  
  .container {
    max-width: 400px;
    margin: 80px auto;
    padding: 20px;
    background-color: #c3a683; /* Warna Coklat */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin-bottom: 20px;
    text-align: center;
    color: white; /* Warna Teks */
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    background-color: #000000; /* Warna Tombol */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #000000; /* Warna Tombol Hover */
  }
  
  .forgot {
    text-align: center;
    margin-top: 20px;
  }
  
  .forgot a {
    margin-right: 10px;
    color: #af844c; /* Warna Link */
    text-decoration: none;
  }
  
  .forgot a:hover {
    text-decoration: underline;
  }
  